/* src/index.css */

@import "~bootstrap/dist/css/bootstrap.min.css";
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.ParentDesign {
    border: 1.5px dotted #000;
    display: flex;
    justify-content: center;
}

.design {
    border: 1.5px dotted #000;
    width: 300px;
    text-align: center;
    justify-content: end;
}